In [12]:
import geopandas as gpd

In [13]:
filename = "greenbook47.geojson"
file = open(filename)
df = gpd.read_file(file)

In [15]:
df.head()

,name,address,image_url,image_id,capture_uuid,dc_url,page,year,city,state,category,image_region,geocoded_address,geocoded_confidence,geometry
0,"around 20,",000 miles per year,http://images.nypl.org/index.php?id=5207629&t=q,5207629,2a4111a0-892b-0132-5d0d-58d385a7bbd0,http://digitalcollections.nypl.org/items/2a411...,12,1947,WESTCHESTER,TENNESSEE,Tourist Home,"{'x': 0.10086027884900624, 'y': 0.521487419283...","000 Miles Rd, Mulberry, Tennessee 37359, Unite...",0.509286,POINT (-86.39971 35.19817)
1,St. Thomas,127 W. 10th St.,http://images.nypl.org/index.php?id=5207645&t=q,5207645,2b93aef0-892b-0132-d7c7-58d385a7bbd0,http://digitalcollections.nypl.org/items/2b93a...,28,1947,WESTCHESTER,TENNESSEE,Tourist Home,"{'x': 0.12726176115802174, 'y': 0.166629736317...","127 W 10th St, Chattanooga, Tennessee 37402, U...",0.852143,POINT (-85.31081 35.04481)
2,Mrs. Ed. Andrews,69 Cotton St.,http://images.nypl.org/index.php?id=5207645&t=q,5207645,2b93aef0-892b-0132-d7c7-58d385a7bbd0,http://digitalcollections.nypl.org/items/2b93a...,28,1947,ANDALUSIA,TENNESSEE,Tourist Home,"{'x': 0.12907117008443908, 'y': 0.222690006647...","69 S Cotton St, Andalusia, Alabama 36420, Unit...",0.728333,POINT (-86.48221 31.30161)
3,Dunbar,323 N. 17th St.,http://images.nypl.org/index.php?id=5207645&t=q,5207645,2b93aef0-892b-0132-d7c7-58d385a7bbd0,http://digitalcollections.nypl.org/items/2b93a...,28,1947,BIRMINGHAM,TENNESSEE,Tourist Home,"{'x': 0.11459589867310013, 'y': 0.266341679592...","323 N 17th St, Knoxville, Tennessee 37921, Uni...",0.852143,POINT (-83.93629 35.96380)
4,Palm Leaf,328 1/2 18th St.,http://images.nypl.org/index.php?id=5207645&t=q,5207645,2b93aef0-892b-0132-d7c7-58d385a7bbd0,http://digitalcollections.nypl.org/items/2b93a...,28,1947,BIRMINGHAM,TENNESSEE,Tourist Home,"{'x': 0.11670687575392039, 'y': 0.289829381785...","328 18th St, Knoxville, Tennessee 37916, Unite...",0.828333,POINT (-83.93586 35.95957)

In [5]:
mining.shape()

TypeError: 'tuple' object is not callable

In [6]:
mining.shape

(277195, 2)